.info {
  padding: 80px 104px 72px;
}
.info__title {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin-top: 0;
}
.info__text {
  max-width: 815px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto-regular';
  margin-bottom: 10px;
}
.info__text:last-of-type {
  margin-bottom: 0;
}