@import url("__header/github__header.css");
@import url("__title/github__title.css");
@import url("__link/github__link.css");
@import url("__container/github__container.css");

.github {
  background-color: #f5f6f7;
}
.github__content {
  max-width: 1360px;
  min-width: 288px;

  margin: 0 auto;
  padding: 40px;
}

@media (max-width: 1025px) {
  .github{
    padding: 40px;
  }
}

@media (max-width: 615px) {
  .github {
    padding: 32px 16px;
  }
}
