.card__description {
  font-family: "Roboto-regular", "CieSans";
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  max-height: 112px;
}

@media (max-width: 890px) {
  .card__description {
    max-height: 88px;
  }
}
