.popup__input {
  font-family: "Roboto-regular";
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 5px 0;
  margin-bottom: 24px;
}
.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  border-bottom: 1px solid #347EFF;

}