.saved__title {
  font-family: "Roboto-regular", "CieSans";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 0;
}

@media (max-width: 1025px) {
  .saved__title {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

@media (max-width: 515px) {
  .saved__title {
    font-size: 12px;
    line-height: 24px;
  }
}
