.github__title {
  max-width: 712px;
  font-family: "Roboto Slab", "Helvetica CY";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin-top: 32px;
  margin-bottom: 64px;
}

@media (max-width: 1025px) {
  .github__title {
    max-width: 336px;

    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
  }
}

@media (max-width: 615px) {
  .github__title {
    margin-top: 0;
    margin-bottom: 16px;
  }
}
