.card__block-description {
  padding: 20px 24px 24px;
  max-height: 275px;
  overflow: hidden;
  box-sizing: border-box;

}

@media (max-width: 890px) {
  .card__block-description {
    padding: 16px;
    max-height: 247px;

  }
}
