@import url("__title/search__title.css");
@import url("__subtitle/search__subtitle.css");
@import url("__container-input/search__container-input.css");
@import url("__input/search__input.css");
@import url("__button/search__button.css");

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 30px 16px;
}
