@import url("__title/tehnology__title.css");
@import url("__container/tehnology__container.css");
@import url("__card-title/tehnology__card-title.css");
@import url("__card/tehnology__card.css");


.tehnology {
  background: #f5f6f7;
  padding: 80px 104px 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media (max-width: 1025px) {
  .tehnology {
    flex-direction: column;
    padding: 40px;
  }
}

@media (max-width: 615px) {
  .tehnology {
    padding: 32px 16px;
  }
}
