.saved__cardlist {
  max-width: 1232px;
  min-width: 288px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 16px;
  padding: 62px 104px;
}

@media (max-width: 1025px) {
  .saved__cardlist {
    padding: 40px;
  }
}

@media (max-width: 890px) {
  .saved__cardlist {
    grid-template-columns: repeat(auto-fill, 224px);

    padding: 40px;
  }
}

@media (max-width: 615px) {
  .saved__cardlist {
    padding: 24px 16px;
  }
}

@media (max-width: 515px) {
  .saved__cardlist {
    grid-template-columns: repeat(auto-fill, 400px);
  }
}
