.search__subtitle {
  max-width: 570px;
  font-family: 'Roboto-regular';
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}
@media (max-width: 890px) {
  .search__subtitle {
    max-width: 452px
  }
}
