@import url("__description/author__description.css");
@import url("__photo/author__photo.css");
@import url("__title/author__title.css");

.author {
  max-width: 1232px;
  min-width: 288px;

  margin: 0 auto;
  display: flex;
  padding: 80px 104px;
}

@media (max-width: 1025px) {
  .author {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 615px) {
  .author {
    padding: 32px 16px;
  }
}

@media (max-width: 450px) {
  .author {
    flex-direction: column;
  }
}
