.results__button {
  max-width: 288px;
  font-family: "Roboto-medium", "Arial";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 80px;
  background-color: #fff;
  cursor: pointer;
  padding: 20px 84px;
  margin: 64px auto 0;
  transition: background-color 0.2s ease-in-out;
}
.results__button:hover {
  background-color: #E6E8EB;;
}
.results__button_hide {
  display: none;
}

@media (max-width: 890px) {
  .results__button {
    margin-top: 32px;
    padding: 15px 60px;
  }
}

@media (max-width: 515px) {
  .results__button {
    margin-top: 15px;
  }
}
