@import url("__copyright/footer__copyright.css");
@import url("__nav/footer__nav.css");
@import url("__link/footer__link.css");
@import url("__media/footer__media.css");

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 104px 28px;
}


