.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 104px 28px;
}
.footer__copyright {
  font-family: 'Roboto-regular';
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}
.footer__media {
  display: flex;
  flex-basis: 5%;
  justify-content: space-between;
}