.results__title {
  font-family: "Roboto Slab", "Helvetica CY";
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  margin-bottom: 64px;
}

@media (max-width: 890px) {
  .results__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;

  }
}
