@import url("__logo-text/header__logo-text.css");
@import url("__container/header__container.css");
@import url("__button/header__button.css");
@import url("__mobile-menu/header__mobile-menu.css");


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 104px 14px;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

@media (max-width: 1025px) {
  .header {
  padding-right: 40px;
  padding-left: 40px;

  }
}


@media (max-width: 615px) {
  .header {
  padding: 16px;


  }
}

