.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 104px 14px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

}

.header__logo-text {
  /* font-weight: bold; */
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  font-family: 'Roboto Slab';

}
.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  font-family: 'Roboto-medium';
  margin-right: 32px;
  /* border-bottom:  2px solid #FFFFFF;
  padding: 26px; */
}
.header__link:hover {
  color: #FFF;

}
.header__button {
  font-family: 'Roboto-medium';
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  padding: 11px 14px;
  cursor: pointer;

}