.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 104px 14px;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__logo-text {
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto Slab";
  justify-self: start;
}

.header__container {
  display: flex;
  align-items: center;
}
.header__button {
  max-height: 48px;
  font-family: "Roboto-medium";
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__button_white {
  color: #fff;
  border: 1px solid #fff;
}
.header__button_black {
  color: #000;
  border: 1px solid #000;
}

.header__logo-text_wight {
  color: #fff;
}
