@import url("__comment/card-git__comment.css");
@import url("__container-user/card-git__container-user.css");
@import url("__data/card-git__data.css");
@import url("__email/card-git__email.css");
@import url("__photo/card-git__photo.css");
@import url("__user/card-git__user.css");
@import url("__container-user-name/card-git__container-user-name.css");


.card-git {
  min-width: 352px;
  height: 240px;
  padding: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-right: 16px;

}

@media (max-width: 1025px) {
  .card-git {
    min-width: 288px;
    height: 194px;
  }
}

@media (max-width: 615px) {
  .card-git {
    padding: 16px;

    min-width: 256px;
    height: 232px;
  }
}

